/* restaurants.css */

body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa;
}
.container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;

}

.card {
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    flex: 1;
    margin: 10px;
    display: flex;
    flex-direction: column;
    height: 510px;
}
.card img{
    max-width: 100%;
    height: auto;
}

.card:hover {
    transform: scale(1.05);
}

.card-title {
    font-size: 1.5rem;
}

.card-text {
    font-size: 1rem;
}

/* Additional styles can be added for navbar, header, footer, etc. */
/* Your main CSS file */


#footer {
    margin-top: auto;
    text-align: center;
}


